/* REMOVING THE FOLLOWING LINE WILL BREAK THE STYLING OF THE APPLICATION */
@import '../../global/app.css';

/*
Define custom styles for colors etc. below

E.g. you can uncomment the CSS below to adjust the primary color
*/


:root {
  --c-primary: #512da8;
  --c-primary-light: #5e35b1;
  --c-primary-lighter: #673ab7;
  --c-primary-lightest: #7e57c2;
}

